.img-budget{
    height: 11px;
}

.div-budget {
    color: white;
    background-color: #3DB137;
    border-radius: 8px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    padding: 3px 7px;
    margin-right: 4px;
    p{
        font-size: 10px;
        margin: 0;
            
    }
}
    

