.card-indique-abundance {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #e9eaea;
  padding: 24px;

  form {
    input, input::placeholder {
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.4px;
    }

    input{
        border: none;
        border-bottom: 1px solid #E9EAEA;
        padding: 0 0 8px;
    }
  }
}
