
.need-help{
display: flex;
align-items: center;

p{ 
  font-size: 14px;
  color: #777;
  margin: 0;
  font-weight: 600;
}
.actions{
  

  a{
    margin-left: 16px;
   
    span {
      border: 1px solid #E9EAEA;
      padding: 5px;
      border-radius: 50px;
      color: #777;
    }

  }
}

  @media screen and (max-width: 850px) {
         display: none;     
    
  }
}   

   

        

