.confirmation-content {
  margin: 0 auto 70px;

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #12a685;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.4px;
    margin-bottom: 20px;
    color: #777777;
  }

  @media screen and (max-width: 850px) {
    max-width: unset;
    width: 100%;
    margin: 0 auto 0;

    h2, p{
        text-align: center;
    }

    button{
        margin: 0 auto;
        display: table;
    }
  }
}
